<div class="layout">
    <div class="header">

        <div class="header-logo">
            <img src="assets/images/logo.png" alt="" class="logo">
        </div>

        <div class="menu-header">

            <img src="assets/images/logo-veris.svg" alt="" class="logo-veris">

            <div class="perfil">
                <span class="perfil-nombre">Lplua</span>
                <div class="iconos">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <i class="fa fa-angle-down"></i>
                </div>
            </div>

        </div>

    </div>

    <main class="content">
        <router-outlet></router-outlet>
    </main>
</div>