.layout {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    padding: 1.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f0f0f0;
    background: white;
}

.header-logo img {
    width: 170px;
    height: auto;
    object-fit: contain;
}

.menu-header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo-veris {
    width: 100px;
    object-fit: contain;
}

.perfil {
    display: flex;
    align-items: center;
    gap:.5rem
}

.perfil-nombre {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.iconos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.perfil .fa-cog {
    width: 30px;
    height: 30px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 246, 246);
    color: rgba(0, 0, 0, 0.1);
}

.content {
    flex: 1;
    width: 100%;
    background-color: rgb(246, 246, 246);
}
