:host {
    flex: 1;
    display: flex;
}


.sucursal-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-sucursal{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
}

.container-sucursal i {
    width: 130px;
    height: 130px;
    background-color: rgb(236, 236, 236);
    padding: 1rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.container-sucursal span, .container-sucursal i {
    color: #c6c6c6;
}

.container-sucursal span{
    font-weight: 600;
}