
.contenedor-informacion {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-weight: 600;
    background-color: #535353;
    color: #fff;
    font-size: .9rem;
    border-radius: 10px;
}

.contenedor-informacion i {
    transition: transform 0.3s ease;
}

.cabecera,
.contenedor-tabla {
    width: 100%;
}

.cabecera {
    padding: 1rem 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cabecera h2 {
    font-weight: 700;
    font-size: 1rem;
}

.contenedor-cabeceras {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
}

.grupo-izquierdo {
    width: 40%;
    display: flex;
    gap: .5rem;
}

.grupo-izquierdo .card {
    flex: 1;
}

.grupo-derecho {
    width: 60%;
    flex: 1;
    display: grid;
    gap: .5rem;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.span-2 {
    grid-column: span 2;
}

.span-3 {
    grid-column: span 3;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    border-radius: 25px;
    color: white;
    font-size: .9rem;
    gap: 1rem;
    flex-direction: row;
    cursor: pointer;
}

.card-text {
    width: 100%;
    font-size: .9rem;
}

.card-text h3{
    font-size: 1.2rem;
}

.card i {
    font-size: 1.8rem;
    color: rgb(227, 227, 227);
}

.blue {
    background-color: #3f63d8;
}

.green {
    background-color: #36c96c;
}

.red {
    background-color: #ff5b64;
}

.yellow {
    background-color: #ffb703;
}
