.sucursales {
    height: 100%;
    width: 100%;
}

.select-sucursales,
.titulo-sucursales {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-sucursales {
    text-align: center;
}

.titulo-sucursales h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

.sucursales {
    height: 100%;
    width: 100%;
}

.select-sucursales {
    gap: 2rem;
    align-items: flex-start;
    padding: 2rem;
}

.btn-sucursal {
    padding: 0.7rem 4rem;
    border: 2px solid #e7e7e7;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    transition: 0.2s ease-in-out;
}

.btn-sucursal:hover {
    background: #f5f5f5;
    border-color: #d0d0d0;
}

@media (max-width: 1100px) {

    .select-sucursales{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
    }

    .titulo-sucursales {
        text-align: center;
    }

    .titulo-sucursales h2 {
        font-size: 1.8rem;
        font-weight: 600;
    }
}