.container-auth {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-auth {
    width: 700px;
    height: 80%;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.15);
}


.container-logo,
.container-welcome,
.container-form {
    width: 100%;
}

.container-logo {
    height: 22%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container-logo img {
    width: 200px;
    height: auto;
    object-fit: contain;
}

.container-welcome {
    height: 15%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-form {
    height: 63%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-welcome,
.title-login {
    font-size: 1.4rem;
    font-weight: 600 !important;
}

.title-welcome {
    color: rgba(0, 0, 0, 0.3);
}

.title-login {
    color: rgb(82, 82, 255);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-group-user {
    margin-bottom: 2rem;
}

.form-group label {
    font-size: 0.9rem;
    color: #444;
}

.form-group input {
    width: 100%;
    height: 48px;
    padding: 0 14px;

    border-radius: 8px;
    border: 1px solid #d1d5db;

    font-size: 0.95rem;
    outline: none;
    transition: all 0.2s ease;
}

.form-group input:focus {
    border-color: rgb(82, 82, 255);
    box-shadow: 0 0 0 2px rgba(82, 82, 255, 0.15);
}

.btn-login {
    margin-top: 1rem;
    min-height: 52px;
    width: 100%;

    border-radius: 10px;
    border: none;

    background: #b9f2d0;
    color: #ffffff;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-login:hover {
    transform: scale(1.01);
}

.btn-enabled {
    background: #7eefab !important;
}

.btn-disabled {
    background: #b9f2d0 !important;
}







.modal-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-box {
    width: 380px;
    padding: 2rem;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
    animation: showModal .25s ease-out;
}

.modal-box h2 {
    margin-bottom: .5rem;
    font-size: 1.4rem;
    color: rgb(82, 82, 255);
}

.modal-box p {
    font-size: .9rem;
    margin-bottom: 1.5rem;
}

.btn-modal {
    width: 100%;
    padding: .8rem;
    border: none;
    border-radius: 8px;
    background: rgb(82, 82, 255);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.btn-modal:hover {
    background: rgb(60, 60, 220);
    transform: scale(1.02);
}

@keyframes showModal {
    from {
        transform: scale(0.85);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}