<div class="dashboard">
    <app-cabecera-dashboard></app-cabecera-dashboard>
    <div class="contenedor-tabla">
        <div class="opciones">

            <div class="opcion">
                <span>Tipo Filtro</span>
                <app-select-filtro [(value)]="filtroPrincipal"></app-select-filtro>
            </div>

            <div class="opcion">
                <span>Valor Filtro</span>
                <input type="text" class="valor-filtro" placeholder="Buscar">
            </div>

            <div class="opcion">
                <span>Filtros Adicionales</span>
                <app-select-filtro [(value)]="filtroAdicional"></app-select-filtro>
            </div>

            <div class="opcion">
                <span>Fecha Desde</span>
                <div class="input-fecha-con-icono">
                    <input type="text" class="fecha-desde" placeholder="Selecciona fecha">
                    <i class="fa-solid fa-calendar"></i>
                </div>
            </div>

            <div class="opcion">
                <span>Fecha Hasta</span>
                <div class="input-fecha-con-icono">
                    <input type="text" class="fecha-hasta" placeholder="Selecciona fecha">
                    <i class="fa-solid fa-calendar"></i>
                </div>
            </div>


            <div class="opcion boton-accion">
                <span>&nbsp;</span>
                <div class="contenedor-boton-icono">
                    <input type="button" class="btn-limpiar" value="">
                    <i class="fa-solid fa-broom"></i>
                </div>
            </div>

            <div class="opcion boton-accion">
                <span>&nbsp;</span>
                <div class="contenedor-boton-icono">
                    <input type="button" class="btn-buscar" value="Buscar" (click)="buscar()">
                </div>
            </div>

            <div class="opcion archivo">
                <span>&nbsp;</span>
                <span>Reporte Email: </span>
                <img src="assets/images/extension-xls.png" alt="">
            </div>
        </div>


        <div class="tabla">
            <div class="table-responsive">
                <table class="table tabla-dashboard">
                    <thead>
                        <tr>
                            <th>Cód. Mensaje</th>
                            <th>Fecha Ingreso</th>
                            <th>Origen Plantilla</th>
                            <th>ID Ticket</th>
                            <th>Correo Destinatario</th>
                            <th>Correo Con Copia</th>
                            <th>Correo Con Copia Oculta</th>
                            <th>Enviado</th>
                            <th>Error</th>
                            <th>Es Rebotado</th>
                            <th>Es Lista Negra</th>
                            <th>Email Abierto</th>
                            <th>Email Click</th>
                            <th>Mensaje Error</th>
                            <th>Origen Invocacion</th>
                            <th>Tiene Variables</th>
                            <th>Tiene Adjuntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of paginatedArreglo">
                            <td>{{ item.codigoMensaje }}</td>
                            <td>{{ item.fechaIngreso }}</td>
                            <td>{{ item.origenPlantilla }}</td>
                            <td>{{ item.idTicket }}</td>
                            <td>{{ item.correoDestinatario }}</td>
                            <td>{{ item.correoConCopia }}</td>
                            <td>{{ item.correoConCopiaOculta }}</td>
                            <td> <i class="fa-solid" [class.fa-circle-check]="item.enviado"
                                    [class.fa-circle-exclamation]="!item.enviado"></i> </td>

                            <td> <i class="fa-solid" [class.fa-circle-check]="item.error"
                                    [class.fa-circle-exclamation]="!item.error"></i> </td>

                            <td> <i class="fa-solid" [class.fa-circle-check]="item.esRebotado"
                                    [class.fa-circle-exclamation]="!item.esRebotado"></i> </td>

                            <td> <i class="fa-solid" [class.fa-circle-check]="item.esListaNegra"
                                    [class.fa-circle-exclamation]="!item.esListaNegra"></i> </td>

                            <td> <i class="fa-solid" [class.fa-circle-check]="item.mailAbierto"
                                    [class.fa-circle-exclamation]="!item.mailAbierto"></i> </td>

                            <td> <i class="fa-solid" [class.fa-circle-check]="item.mailClick"
                                    [class.fa-circle-exclamation]="!item.mailClick"></i> </td>

                            <td>{{ item.mensajeError }}</td>
                            <td>{{ item.origenInvocacion }}</td>

                            <td> <i class="fa-solid" [class.fa-circle-check]="item.tieneVariables"
                                    [class.fa-circle-exclamation]="!item.tieneVariables"></i> </td>

                            <td> <i class="fa-solid" [class.fa-circle-check]="item.tieneAdjuntos"
                                    [class.fa-circle-exclamation]="!item.tieneAdjuntos"></i> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination-container">
                <nav aria-label="Navegación de páginas">
                    <ul class="pagination pagination-md justify-content-center">
                        <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage - 1)"
                                aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
                            <a class="page-link" href="javascript:void(0)" (click)="goToPage(page)">{{ page }}</a>
                        </li>

                        <li class="page-item" [class.disabled]="currentPage === totalPages || totalPages === 0">
                            <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage + 1)"
                                aria-label="Siguiente">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-info">
                    (Página {{ currentPage }} de {{ totalPages }})
                </div>
            </div>
        </div>
    </div>
</div>